# Dependencies
node_modules

# Build outputs
dist
build
.cache

# Logs
*.log

# Database
*.db
*.sqlite

# Environment files
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Coverage
coverage

# Prisma
prisma/migrations

